body {
	font-family: 'Courier New', Tahoma, Verdana, Arial;
  	background-color: #fff;
  	background-image: url('paper.png');
  	background-position: 50%;
}

h1, h2, h3, h4, h5, a, p, ul, ol, dl, li, td, label, button, div, span {
  	color: #000;
	font-family: 'Courier New', Verdana, Arial;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

h1 {
	border-bottom: 7px solid #b00;
}
h2 {
	border-bottom: 2px solid #b00;
}
h4 {
	margin-top: 18px;
}
h4 i {
	font-weight: normal;
	font-style: italic;
	display: block;
	color: #777;
}

small {
	display: block;
}

.container {
	width: 60%;
}

.menu {
	width: 100%;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0px auto 20px;
	padding: 30px 10px 10px;
	text-align: center;
}
	.menu li {
		display: inline !important;
		color: #817547;
		margin: 2px 10px;
		font-style: bold;
	}
	.menu a {	
		text-decoration: underline;
	}